@import url("https://fonts.googleapis.com/css2?family=Squada+One&display=swap");

@font-face {
  font-family: Spacemission;
  src: url(SpaceMission-rgyw9.otf);
}

* {
  margin: 0;
}

body {
  background-color: rgb(20, 20, 20);
}

p,
ol {
  color: white;
}

/*HEADER*/
header {
  height: 100px;
  background-color: rgb(20, 20, 20);
  border: 3px solid white;
  margin: 0.5% 0.5% 0%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#logo {
  color: white;
  font-size: 69px;
  font-family: "Spacemission";
  text-decoration: none;
  margin-left: 1%;
}

.search {
  height: 50px;
  width: 50%;
  border: 1px solid rgb(20, 20, 20);
  border-radius: 25px 25px;
  font-family: "Squada One", cursive;
  font-size: 20px;
  background-color: rgb(63, 63, 63);
  color: white;
}

#contact {
  font-size: 20px;
  font-family: "Squada One", cursive;
}

.header-item {
  color: white;
  font-size: 40px;
  padding: 0;
  border-style: none;
  text-decoration: none;
}

.header-item:hover {
  color: rgb(198, 198, 198);
}
/*HEADER*/

/*HAMBURGER*/
li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li .content:hover {
  background-color: rgb(214, 214, 214);
}

.ham-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  right: 75px;
  top: 8.5%;
  border-radius: 5px 5px;
  font-family: "Squada One", cursive;
}

.ham-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 5px 5px;
}

.dropdown:hover .ham-content {
  display: block;
}
/*HAMBURGER*/

/*BODY-MAIN*/
.top-section {
  display: flex;
}

#top-ad {
  margin-right: 0.5%;
  margin-left: 0.25%;
}

#top-left {
  margin-left: 0.5%;
  margin-right: 0.25%;
}

.top-div {
  border: 3px solid rgb(255, 255, 255);
  width: 49%;
  height: 100px;
  color: rgb(255, 255, 255);
  margin-top: 0.5%;
}

.welcome {
  height: 50%;
  width: fit-content;
  font-family: "Squada One", cursive;
  font-size: 50px;
  margin-left: 45px;
}

#quote {
  font-size: 30px;
  margin-top: 5px;
}

.mid-section {
  display: flex;
}

.games {
  border: 3px solid rgb(255, 255, 255);
  width: 79%;
  height: 74.5vh;
  margin-top: 0.5%;
  margin-left: 0.5%;
  margin-right: 0.25%;
}

#right-ad {
  border: 3px solid rgb(255, 255, 255);
  width: 19%;
  height: 60vh;
  margin-top: 0.5%;
  margin-right: 0.5%;
  margin-left: 0.25%;
}
/*BODY-MAIN*/

/*LOGIN*/
#login-form {
  border: 3px solid white;
  height: 500px;
  width: 30%;
  position: absolute;
  left: 35%;
  top: 15%;
}
